@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


body {
	margin: 0;
	font-size: 16px;
	background-color: skyblue;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

.custom-box {
	max-width: 700px;
	background-color: #ffffff;
	margin: 200px auto;
	border-radius: 10px;
	padding: 30px;

}
.custom-box::before,
.custom-box::after{
	content: '';
	clear: both;
	display: table;
}
.custom-box1 {
	max-width: 700px;
	background-color: #ffffff;
	margin: 80px auto;
	border-radius: 10px;
	padding: 30px;

}
.custom-box1::before,
.custom-box1::after{
	content: '';
	clear: both;
	display: table;
}
.custom-box.hide{
	display: none;
}

.home-box h3 {
  font-size: 18px;
  color: #000000;
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 25px;
}

.home-box p {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 22px;
  font-weight: 400;
}

.home-box p span {
	font-weight: 500;
}

.home-box .btn {
	margin-top: 20px;
}

.btn {
	padding: 15px 45px;
	background-color: skyblue;
	color: #ffffff;
	border:none;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
}

.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .next-question-btn,
.quiz-box .answers-indicator{
  width: 100%;
  float: left;
}


.quiz-box .question-number {
	font-size: 18px;
	color: skyblue;
	font-weight: 600;
	border-bottom: 3px solid skyblue;
	padding-bottom: 10px;
	line-height: 25px
}
.quiz-box .question-text{
	font-size: 22px;
	color: #000000;
	line-height: 26px;
	font-weight: 400;
	padding: 20px 0;
	margin:0;
}
.quiz-box .option-container{}
.quiz-box .option-container .option{
	background-color: #cccccc;
	padding: 15px;
	font-size: 16px;
	line-height: 22px;
	color: #000000;
	border-radius: 5px;
	margin-bottom: 10px; 
	cursor: pointer;
	text-transform: capitalize;
}
.quiz-box .btn {
	margin: 15px 0;
}
.quiz-box .answers-indicator{
	
	margin-left: 200px;

}
.quiz-box .answers-indicator div{
	height: 40px;
	width: 40px;
	display: inline-block;
	background-color: #cccccc;
	border-radius: 50%;
	margin-left: 3px;
}


.result-box {
	text-align: center;
}
.result-box.hide{
	display: none;
}

.result-box h1 {
	font-size: 36px;
	line-height: 42px;
	color: skyblue;
}
.result-box table {
	width: 100%;
	border-collapse: collapse;
	margin: 30px 0;
	}
.result-box table td {
	border:1px solid #cccccc;
	font-weight: 500;
	color: #000000;
	padding: 8px 15px;
	width: 50%;
	text-align: left;
	font-size: 18px;

}
.result-box .btn {
	margin-right: 20px;
}
